@import '~@gisatcz/ptr-core/lib/styles/_variables';
@import './variables';

.ptr-light {

	--accent0: #{$lightAccent0};
	--accent0rgb: #{$lightAccent0rgb};
	--accent05: #{$lightAccent05};
	--accent10: #{$lightAccent10};
	--accent15: #{$lightAccent15};
	--accent20: #{$lightAccent20};
	--accent25: #{$lightAccent25};
	--accent30: #{$lightAccent30};
	--accent35: #{$lightAccent35};
	--accent40: #{$lightAccent40};
	--accent45: #{$lightAccent45};
	--accent50: #{$lightAccent50};
	--accent50rgb: #{$lightAccent50rgb};
	--accent55: #{$lightAccent55};
	--accent60: #{$lightAccent60};
	--accent65: #{$lightAccent65};
	--accent70: #{$lightAccent70};
	--accent75: #{$lightAccent75};
	--accent80: #{$lightAccent80};
	--accent85: #{$lightAccent85};
	--accent90: #{$lightAccent90};
	--accent95: #{$lightAccent95};
	--accent100: #{$lightAccent100};
	--accent100rgb: #{$lightAccent100rgb};
}

.s14scienceAmazonas {
	@include positionFill();
}

.s14scienceAmazonas-page {
  width: 100%;
}

.s14scienceAmazonas-page > section {
  padding: m(3) m(1);
  width: 100%;
}

.s14scienceAmazonas-page > section:nth-child(odd) {
  background: var(--base10);
}

.s14scienceAmazonas-page > section:nth-last-child(2){
  background: var(--base20);
}

.s14scienceAmazonas-page > section:last-child {
  background: var(--base0);
  padding: m(2) m(1);
}

.s14scienceAmazonas-page > section > div {
  max-width: 50rem;
  margin: 0 auto;
}

.s14scienceAmazonas-page > section h2 {
  margin-top: 0;
}

.s14scienceAmazonas-page > section ul {
  margin-left: 1rem;
}

.s14scienceAmazonas-page > section p {
  color: var(--base90);
}

.s14scienceAmazonas-page > section:nth-last-child(2) * {
  color: var(--base80);
}

.s14scienceAmazonas-page > section:last-child * {
  color: var(--base70);
  font-size: $b1;
}

/* Partner cards */
.s14scienceAmazonas-partners {
  display: flex;
  flex-wrap: wrap;
  max-width: 100rem;
  justify-content: center;
  margin: m(2) auto;
  padding: m(1) m(1) 0;
}

.s14scienceAmazonas-partner-card {
  flex: 1;
  padding: m(5/3) m(1);
  margin-right: m(1);
  margin-bottom: m(1);
  max-width: 20rem;
  min-width: 15rem;
  background: var(--base0);
  box-shadow: 0 0 50px 15px rgba(var(--base100rgb), .1);
  transition: box-shadow .2s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}

.s14scienceAmazonas-partner-card:hover {
  box-shadow: 0 0 50px 15px rgba(var(--base100rgb), .15);
}

.s14scienceAmazonas-partner-card > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.s14scienceAmazonas-partner-card-img-wrapper {
  height: 6rem;
  display: flex;
  align-items: center;
  margin-bottom: m(1);
}

.s14scienceAmazonas-partner-card img {
  max-width: 10rem;
}

.s14scienceAmazonas-partner-card img.smaller {
  max-width: 8rem;
}

.s14scienceAmazonas-partner-card-title {
  font-size: $b2;
  font-weight: bold;
  text-align: center;
  color: var(--base100);
}

.s14scienceAmazonas-partner-card-subtitle {
  color: var(--base60);
  margin-bottom: m(2/3);
}

.s14scienceAmazonas-partner-card-person {
  color: var(--base100);
}

/* Contributors cards */
.s14scienceAmazonas-page .s14scienceAmazonas-contributors {
  display: flex;
  margin-top: m(1)
}

.s14scienceAmazonas-contributor-card {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: m(2/3);
  flex-direction: column;
  width: 10rem;
  padding: 1rem .5rem;
  box-shadow: 0 0 50px 25px rgba(var(--base100rgb), .1);
  background: var(--base0);
  transition: box-shadow .2s ease-in-out;
  text-decoration: none;
}

.s14scienceAmazonas-contributor-card:hover {
  box-shadow: 0 0 50px 25px rgba(var(--base100rgb), .15);
}

.s14scienceAmazonas-contributor-card-img-wrapper {
  margin-bottom: m(1/3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.s14scienceAmazonas-contributor-card img {
  max-height: 2.5rem;
}

.s14scienceAmazonas-contributor-card-title {
  font-size: $b1;
  text-align: center;
  color: var(--base100);
}

@media screen and (max-width: 60rem) {
  .s14scienceAmazonas-partners {
	padding: m(1) 0 0;
  }
}

@media screen and (max-width: 30rem) {
  .s14scienceAmazonas-partner-card {
	margin-right: 0;
  }
}