@import '~@gisatcz/ptr-core/lib/styles/_variables';

.s14scienceAmazonas-intro {
  background-color: var(--base10);
  background-image: url('../../assets/img/background.jpg');
  background-size: cover;
  background-position-y: top;
  height: 100%;
}

/* Navigation */
.s14scienceAmazonas-nav {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: flex-end;
}

.s14scienceAmazonas-nav-item {
  margin-left: m(1);
  padding: .15rem .5rem;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  color: var(--base90);
  border-bottom: 2px solid transparent;
}

.s14scienceAmazonas-nav-item:hover {
  color: var(--base100);
  border-bottom-color: var(--base100);
}

/* Content */
.s14scienceAmazonas-intro-content {
  max-width: calc(80rem + 2*#{m(2)});
  margin: 0 auto;
  padding: m(1) m(2);
  height: 100%;
}

/* Header */
.s14scienceAmazonas-header {
  display: flex;
  padding-top: m(2);
  height: 100%;
}

.s14scienceAmazonas-intro-logos-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.s14scienceAmazonas-intro-logo-wrapper {
  flex: 1;
}

.s14scienceAmazonas-intro-logo {
  max-width: 12rem;
}

.s14scienceAmazonas-intro-logo-esa {
  height: 12rem;
  width: 15rem;
  margin-left: -3rem;
  background: url('../../assets/img/logo_esa_white.png');
}

.s14scienceAmazonas-header-content {
  text-align: right;
  padding: m(1/3) m(1/3) 0 m(1);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.s14scienceAmazonas-header-title {
  font-size: $a2;
  font-weight: bold;
  margin-bottom: m(2/3);
  color: var(--base90);
}

.s14scienceAmazonas-header-about{
  max-width: 40rem;
  color: var(--base90);
}

  /* Fixed header */
.s14scienceAmazonas-fixed-intro {
  background: rgba(var(--base100rgb), .9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: height .3s ease-in-out;
  overflow: hidden;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.5);
  z-index: 9999;
  padding: 0 m(2);
}

.s14scienceAmazonas-fixed-intro.open {
  height: 4rem;
}

.s14scienceAmazonas-fixed-intro-content {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 100%;
}

.s14scienceAmazonas-fixed-intro .s14scienceAmazonas-title {
  font-size: $b2;
  color: var(--base0);
  margin: 0;
  padding: 0 m(1);
  cursor: pointer;
}

.s14scienceAmazonas-fixed-intro .s14scienceAmazonas-nav-item {
  color: var(--base0);
}

.s14scienceAmazonas-fixed-intro .s14scienceAmazonas-nav-item:hover {
  border-bottom-color: var(--base0);
}

.s14scienceAmazonas-social-networks {
  display: flex;
}

.s14scienceAmazonas-social-network {
  display: block;
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  color: var(--base70);
  transition: color .2s ease-in-out;
}

.s14scienceAmazonas-social-network:visited {
  color: var(--base70);
}

.s14scienceAmazonas-social-network.linkedin:hover {
  color: #0e76a8;
}

.s14scienceAmazonas-social-network.twitter:hover {
  color: #00acee;
}

.s14scienceAmazonas-social-network.facebook:hover {
  color: #3b5998;
}

.s14scienceAmazonas-social-network.researchgate:hover {
  color: #00ccbb;
}

@media screen and (max-width: 70rem) {
  .s14scienceAmazonas-fixed-intro .s14scienceAmazonas-title {
	display: none;
  }
}

@media screen and (max-width: 60rem) {
  .s14scienceAmazonas-intro {
    height: auto;
  }

  .s14scienceAmazonas-nav-item {
	margin-bottom: .25rem;
	font-size: $b1;
	margin-left: m(2/3);
	padding: .15rem .5rem;
	color: var(--base100);
	border-bottom: 1px solid transparent;
  }

  .s14scienceAmazonas-title {
    font-size: $b3;
  }

  .s14scienceAmazonas-header {
    flex-direction: column;
    background: rgba(var(--base0rgb), .5);
    padding: m(1);
  }

  .s14scienceAmazonas-header-content {
    text-align: left;
    align-items: flex-start;
  }

  .s14scienceAmazonas-intro-logos-container {
    flex-direction: row;
  }

  .s14scienceAmazonas-intro-logo {
    margin-left: 1.5rem;
  }

  .s14scienceAmazonas-intro-logo-esa {
    height: 12rem;
    width: 17rem;
    margin-top: -1rem;
    margin-left: 0;
    background: url('../../assets/img/logo_esa_black.png');
  }

  /* Fixed header */
  .s14scienceAmazonas-fixed-intro {
    padding: 0 m(2/3) 0 0;
  }

  .s14scienceAmazonas-fixed-intro .s14scienceAmazonas-title {
    display: none;
  }
}

@media screen and (max-width: 45rem) {
  .s14scienceAmazonas-intro-logo-esa {
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -1rem;
  }

  .s14scienceAmazonas-intro-logos-container {
    flex-direction: column;
  }

  .s14scienceAmazonas-fixed-intro.open {
	height: 5rem;
  }

  .s14scienceAmazonas-fixed-intro .s14scienceAmazonas-title {
    display: none;
  }
}

@media screen and (max-width: 30rem) {
  .s14scienceAmazonas-fixed-intro.open {
    height: 6rem;
  }

  //.s14scienceAmazonas-nav {
	//display: flex;
	//flex-wrap: wrap;
	//flex: 1;
	//justify-content: flex-end;
  //}
  //
  //.s14scienceAmazonas-nav-item {
	//margin-left: m(1);
	//padding: .15rem .5rem;
	//text-transform: uppercase;
	//cursor: pointer;
	//letter-spacing: 1px;
	//color: var(--base90);
	//border-bottom: 2px solid transparent;
  //}
  //
  //.s14scienceAmazonas-nav-item:hover {
	//color: var(--base100);
	//border-bottom-color: var(--base100);
  //}
}